# =====================================
# Identidad y dominio principal
# =====================================
USERNAME=<nombre_de_usuario>
MAIN_DOMAIN=servidorgp.somosdelprieto.com

# ==============================
# Versiones de imágenes Docker
# ==============================
NGINX_PROXY_VERSION=latest
PORTAINER_VERSION=latest
PROMETHEUS_VERSION=latest
GRAFANA_VERSION=latest
NODE_EXPORTER_VERSION=latest
