# =====================================
# Identidad y dominio principal
# =====================================
# Sustituye <nombre_de_usuario> por tu nombre (ej: miguel)
USERNAME=<nombre_de_usuario>
MAIN_DOMAIN=servidorgp.somosdelprieto.com

# ==============================
# Versiones de imágenes Docker
# ==============================
# Se recomienda usar versiones fijas para evitar despliegues inesperados
NGINX_PROXY_VERSION=1.6
PORTAINER_VERSION=latest
PROMETHEUS_VERSION=latest
GRAFANA_VERSION=latest
NODE_EXPORTER_VERSION=latest
NGINX_EXPORTER_VERSION=latest
