services:
  nginx-proxy:
    image: nginx:latest
    container_name: nginx-proxy
    restart: always
    ports:
      - "80:80"
      - "443:443"
    networks:
      - red-proxy
      - red-monitor
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./certbot/conf:/etc/letsencrypt:ro

  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
    networks:
      - red-proxy

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: unless-stopped
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    networks:
      - red-monitor

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: unless-stopped
    networks:
      - red-monitor
      - red-proxy

  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    restart: unless-stopped
    networks:
      - red-monitor

  certbot:
    image: certbot/certbot:latest
    container_name: certbot
    network_mode: host
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/logs:/var/log/letsencrypt
    entrypoint: >
      /bin/sh -c "apk add --no-cache curl &&
      certbot certonly --manual --preferred-challenges dns
      --manual-auth-hook 'curl -s -k \"https://www.duckdns.org/update?domains=miguel-daw-practica&token=a97bfda5-491e-4349-83a9-278ea7ac3866&txt=\$CERTBOT_VALIDATION\"'
      --manual-cleanup-hook 'curl -s -k \"https://www.duckdns.org/update?domains=miguel-daw-practica&token=a97bfda5-491e-4349-83a9-278ea7ac3866&txt=removed\"'
      --non-interactive --agree-tos --email miguel-daw@ejemplo.com
      -d miguel-daw-practica.duckdns.org"

networks:
  red-proxy:
    external: true
  red-monitor:
    external: true

volumes:
  portainer_data: